In [17]:
def average(*args):
    print(type(args))
    avg = 0
    t_avg = 0
    for val in args:
        #print(val)
        avg = avg  + val
        t_avg = avg/len(args)
    print(t_avg)
        
average(45,100,25,89,85,89,89,89,52,56,54,54,547,57,57,5,5,85)

<class 'tuple'>
87.94444444444444

In [18]:
import random
counter =1 
numbers = []
while counter <= 30:
    num = random.randint(25,65)
    numbers.append(num)
    counter +=1

In [19]:
average(*numbers)

<class 'tuple'>
46.5

In [21]:
def records(**kwargs):
    print(type(kwargs))
    for key,val in kwargs.items():
        print(key, ':', val)
records(Name = 'Simeon',Age =25,Gender = 'Male')

<class 'dict'>
Name : Simeon
Age : 25
Gender : Male

In [22]:
dict1 = {
    'Name' :'Ojo',
    'age' : 35,
    'gender' : 'MAle'
}

In [23]:
records(**dict1)

<class 'dict'>
Name : Ojo
age : 35
gender : MAle

In [24]:
import math

In [25]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [27]:
75*4

300