In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'taiwo',
    password = '1234'
)
mycursor =mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
    print(x)

('football_management_system',)
('information_schema',)
('madamb_supermarket_management_system',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [3]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'taiwo',
    password = '1234',
    database = 'football_management_system'
)
mycursor =mydb.cursor()
mycursor.execute('CREATE TABLE staff_details(id int, S_name varchar(255),S_position varchar(255),S_country varchar(255),S_dob date)')

In [4]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'taiwo',
    password = '1234',
    database = 'football_management_system'
)
mycursor =mydb.cursor()
sql = 'INSERT INTO staff_details(id,S_name,S_position,S_country,S_dob) VALUES(%s,%s,%s,%s,%s)'
val = (1,'Ole Gunnar Solskjær','Manager','Norway','1973-02-26')
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount, 'was inserted')

1 was inserted

In [5]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'taiwo',
    password = '1234',
    database = 'football_management_system'
)
mycursor =mydb.cursor()
sql = 'INSERT INTO staff_details(id,S_name,S_position,S_country,S_dob) VALUES(%s,%s,%s,%s,%s)'
val = [(2,'Micheal Phelan','Coach','England','1958-02-26'),
      (3,'Micheal Carrick','Technical Director','England','1985-02-26'),
      (4,'Darren Flecther','Technical Director','England','1983-02-26'),
      (5,'Edwin Vandersar','GK Coach','England','1970-05-10')]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount, 'records was inserted')

4 records was inserted

In [6]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'taiwo',
    password = '1234',
    database = 'football_management_system'
)
mycursor =mydb.cursor()
mycursor.execute('SELECT * FROM staff_details')
result = mycursor.fetchall()
for x in result:
    print(x)

(1, 'Ole Gunnar Solskjær', 'Manager', 'Norway', datetime.date(1973, 2, 26))
(2, 'Micheal Phelan', 'Coach', 'England', datetime.date(1958, 2, 26))
(3, 'Micheal Carrick', 'Technical Director', 'England', datetime.date(1985, 2, 26))
(4, 'Darren Flecther', 'Technical Director', 'England', datetime.date(1983, 2, 26))
(5, 'Edwin Vandersar', 'GK Coach', 'England', datetime.date(1970, 5, 10))